* {
   margin: 0px;
   padding: 0px;
}
.nav-bar {
    background-color: ;
}
.fs-4 {
    font-weight: bolder;
    font-size: 500px;
}
.about-h1 {
    text-align: center;
    font-size: 50px;
}
.lead {
    text-align: center;
    font-size: 30px;
}
h1 {
    text-align: center;
   font-family: monospace;
}
